* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar */
nav {
    background-color: #222;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Sections */
section {
    padding: 50px;
    text-align: center;
}

#home {
    background-color: #007bff;
    color: white;
}

#home span {
    color: yellow;
}

button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

/* Projects */
.project {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 60%;
    border-radius: 5px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
